# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store
._*

# PyCharm project files
.idea/

# Visual code files
.vscode/
/src/data/
src/failed_urls.json
logs/*
src/logs/app.log
preprocessed_data/